/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-tyty-ad  {
	background: #870600;
	color: white;
	position: relative !important;
	max-width: 100%;
 }
.wp-block-cgb-cols .editor-block-list__layout {
	display: flex;
}
.wp-block-cgb-cols .editor-block-list__layout .editor-block-list__block {
	flex: 25%;
}
.cols {
	display: flex;
}
.col {
	flex: 25%;
}
