/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.ad  {
	position: absolute;
	width: 100vw;
	left: 0;
	background: #870600;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
 }

.shell {
	height: 300px;
}
.cols {
	display: flex;
}
.col {
	flex: 25%;
}
.blurb {
	width: 100%;
	height: 390px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.blurb .tro {
	width: 33%;
	height: 50%;
	background: rgba(255,255,255,0.9);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #870600;
}
//.shell .full {
//	position: absolute;
//	width: 100vw;
//	left: 0;
//}
.topshell.full  .blurb {
	position: absolute;
	width: 100vw;
	left: 0;
}
.topshell.full {
	height: calc(100vh - 150px);
}
@media(max-width: 880px) {
	.blurb .tro {
		width: 50%;
	}
}
@media(max-width: 600px) {
	.blurb {
		align-items: flex-end;
		margin-bottom: 80px;
	}
	.blurb .tro {
		width: 100%;
	}
}
