/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.ad  {
	position: absolute;
	width: 100vw;
	left: 0;
	background: #870600;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
 }

.shell {
	height: 300px;
}
